.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
.git
.ipython
.jupyter
.lesshst
.local
.matplotlib
.npm
.ssh
.vscode
.zprofile
.zsh_history
.zsh_sessions
Applications
D:\OJT\EOD\eod.txt
Desktop
Documents
Downloads
Google Drive
Library
Movies
Music
Pictures
Public
VirtualBox VMs
venv
"D:\\OJT\\EOD\\eod.txt"
